@import 'vars';
@import 'game';
@import 'controls';

$heroZindex: 1000;

img { max-width: 100%; max-height: 100%; }

#game {
	position: relative;
	overflow: hidden;
	margin: 20px auto;
	width: $frame-width;
	height: $frame-height;
	border: 1px solid #333;
	background-color: #fff200;

	.background {
		position: absolute;
		width: $frame-width + $bg-pattern-width;
		background-image: url('../images/pattern.png');
		height: 100%;
		z-index: 0;
	}

	.hero {
		position: absolute;
		z-index: $heroZindex;

		.wrapper {
			position: relative;

			.body, .left-leg, .right-leg {
				position: absolute;
			}
			.body {
				background-image: image('../images/dragon-body.png');
				z-index: $heroZindex+5;
			}
			.left-leg {
				background-image: image('../images/dragon-left-leg.png');
				z-index: $heroZindex+10;
			}
			.right-leg {
				background-image: image('../images/dragon-right-leg.png');
				z-index: $heroZindex+15;
			}
		}
	}
}
